{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="container py-8">
  <h1 class="text-4xl font-bold mb-8">{{ collection.title }}</h1>

  <div class="grid grid-cols-[repeat(auto-fill,minmax(320px,1fr))] gap-4">
    {% paginate collection.products by 20 %}
      {% for product in collection.products %}
        {% render 'product-card', product: product %}
      {% endfor %}

      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "settings": []
}
{% endschema %}
