{%- liquid
  assign ingredients = product.metafields.custom.ingredients.value
-%}

<div class="container-small">
  <h2>Ingredients</h2>
  <div>
    <div>
      {% for ingredient in ingredients %}
        <div>
          <h3>{{ ingredient.name }}</h3>
          {% render 'image', image: ingredient.image %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Ingredients",
  "tag": "section",
  "settings": [{ "type": "text", "id": "title", "label": "Title" }],
  "presets": [
    {
      "name": "Product Ingredients",
      "category": "Product"
    }
  ]
}
{% endschema %}
