{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}

<div class="container">
  <div class="product-container">
    <div class="product-images">
      {% render 'image', class: 'product-image', image: product.featured_image %}
      <div class="thumbnail-grid">
        {% for image in product.images offset: 1 %}
          <div class="thumbnail">
            {% render 'image', class: 'product-image', image: image %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="product-images">
      text
      <h1>{{ product.title }}</h1>
      <p>{{ product.price | money }}</p>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>

{% stylesheet %}
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    gap: 20px;
  }
  .product-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-image {
    width: 100%;
  }

  .main-image img {
    width: 100%;
    height: auto;
  }

  .thumbnail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    gap: 10px;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .product-images {
      gap: 24px;
    }
    .product-container {
      grid-template-columns: 1fr; /* two equal columns */
    }
  }
{% endstylesheet %}
{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
