/** Critical CSS for the theme. This file is included on every page. */

/* Reset styles inspired by https://www.joshwcomeau.com/css/custom-css-reset/ */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html:has(dialog[scroll-lock][open], details[scroll-lock][open]) {
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  border-radius: var(--style-border-radius-inputs);
}

select {
  background-color: var(--color-background);
  color: currentcolor;
}

dialog {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

a {
  font-family: "Geist", sans-serif;
}

p {
  font-family: "Geist", sans-serif;
  text-wrap: pretty;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Red Hat Display", sans-serif;
}

p:empty {
  display: none;
}

:is(p, h1, h2, h3, h4, h5, h6):first-child,
:empty:first-child + :where(p, h1, h2, h3, h4, h5, h6) {
  margin-block-start: 0;
}

:is(p, h1, h2, h3, h4, h5, h6):last-child,
:where(p, h1, h2, h3, h4, h5, h6) + :has(+ :empty:last-child) {
  margin-block-end: 0;
}

/** Theme styles below */
body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-size: 0.875rem;
}

/** Section layout utilities */

/**
 * Setup a grid that enables both full-width and constrained layouts
 * depending on the class of the child elements.
 *
 * By default, a minimum content margin is set on the left and right
 * sides of the section and the content is centered in the viewport to
 * not exceed the maximum page width.
 *
 * When a child element is given the `full-width` class, it will span
 * the entire viewport.
 */
.shopify-section {
  /* --content-width: min(
    calc(var(--page-width) - var(--page-margin) * 2),
    calc(100% - var(--page-margin) * 2)
  );
  --content-margin: minmax(var(--page-margin), 1fr);
  --content-grid: var(--content-margin) var(--content-width)
    var(--content-margin); */

  /* This is required to make <img> elements work as background images */
  position: relative;
  /* grid-template-columns: var(--content-grid);
  display: grid; */
  width: 100%;
}

/* Child elements, by default, are constrained to the central column of the grid. */
.shopify-section > * {
  grid-column: 2;
}

/* Child elements that use the full-width utility class span the entire viewport. */
.shopify-section > .full-width {
  grid-column: 1 / -1;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/** Container utility class */
.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
}

.container-small {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
  width: 100%;
}

.bg-green {
  background-color: var(--color-background-green);
}

.bg-pink {
  background-color: var(--color-background-pink);
}

.bg-blue {
  background-color: var(--color-background-blue);
}

.text-white {
  color: white;
}

.text-secondary {
  color: color-mix(in srgb, var(--color-foreground-default) 64%, transparent);
}

.text-accent {
  color: #4e71eb;
}

.text-green {
  color: var(--color-foreground-green);
}

.text-pink {
  color: var(--color-foreground-pink);
}

.text-blue {
  color: var(--color-foreground-blue);
}

.font-red-hat {
  font-family: "Red Hat Display", sans-serif;
}

.font-geist {
  font-family: "Geist", sans-serif;
}

.text-6xl {
  font-size: 3.5rem;
  line-height: 1.1;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1.5;
}

.text-4xl {
  font-size: 2.5rem;
  line-height: 1.5;
}

.text-3xl {
  font-size: 2rem;
  line-height: 1.5;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 1.2;
}

.text-large {
  font-family: "Geist", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.text-base {
  font-family: "Geist", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

.text-sm {
  font-family: "Geist", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
}

.wrap-balance {
  text-wrap: balance;
}

.wrap-pretty {
  text-wrap: pretty;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.button-primary {
  height: 40px;
  background: var(--color-gradient1);
  color: var(--color-foreground);
  border-radius: 20px;
  text-decoration: none;
  padding: 0.75rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 500;
  font-family: "Geist", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 13px;
}

.button-white {
  height: 32px;
  background: white;
  color: var(--color-foreground-default);
  border-radius: 20px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 500;
  font-family: "Geist", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-size: 13px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .text-6xl {
    font-size: 2rem;
    line-height: 1.1;
  }

  .text-5xl {
    font-size: 2rem;
    line-height: 1.5;
  }

  .text-4xl {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.strikethrough {
  text-decoration: line-through;
}
